<!-- views/partials/head.ejs 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Real Estate Tax Lookup</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Patrick Gitundu">

<link href="https://fonts.googleapis.com/css?family=Wendy+One" rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->
