<!-- views/pages/error.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
	   <% include ../partials/header %>
	</header>
	</br></br>
	
	<main>
	
	</br></br>
	<div class="container">
		<h5>We apologize but the following error has occurred on our end.</h5>
		<%= error %>
		<p><strong>Please go back to the home page and try again. If the problem persists, please contact the app's owner and provide them with above error message.</strong></p>		
	</div>
	
	</main>
	
	<% include ../partials/footer %>

</body>

</html>