<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>

	<header>
	   <% include ../partials/header %>
	</header>
	</br></br>
	
	<main>
	
		</br></br>
		<div class="container">
			<h6>About page</h6>		
		</div>
	
	</main>
	
	<% include ../partials/footer %>

</body>

</html>