<!-- views/partials/footer.ejs -->
<footer class="page-footer franklin-blue">
      <div class="footer-copyright">
        <div class="container">
	        <div class="row">
	        	<div class="col s6">
	        		<p>© 2017. Patrick Gitundu.</p>
	        	</div>
	        	<div class="col s6">
	        		<p class="right-align"><a href="https://beta.phila.gov/departments/office-of-open-data-and-digital-transformation/" style="color:white">© 2018. City of Philadelphia - Office of Open Data and Digital Transformation.</a></p>
	        	</div>
	        </div>
        </div>
      </div>
</footer>

