<!-- views/partials/header.ejs -->

<nav class="pushpin-nav pinned franklin-blue" data-target="pintarget" style="z-index:999;">
	<div class="container nav-wrapper">
		<div class="collapse navbar-collapse" id="nav">
			<ul id="nav-mobile" class="right">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</div>
	</div>
</nav>